html, body {
  margin: 0;
  padding: 0;
  cursor: none;
  background-color: #000;
  overflow: hidden;
  max-height: 100vh;
}

@font-face {
  font-family: 'Bodoni';
  src: local('WTCOurBodoniW01-Regular'), url('./Font/WTC Our Bodoni W01 Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Helvetica';
  src: local('Helvetica Bold'), url('./Font/Helvetica-Bold.ttf') format('truetype');
}

:root {
  --c1: 8px;
  --c2: 16px;
  --c3: 24px;
  --c4: 32px;
  --c5: 40px;
  --c6: 48px;
  --c7: 56px;
  --c8: 64px;
  --c9: 72px;
  --c10: 80px;
  --c11: 88px;
  --c12: 96px;
  --c13: 104px;

  --extraSmall: 8px;
  --small: 16px;
  --medium: 24px;
  --large: 40px;
  --extraLarge: 64px;
}

* {
  animation-timing-function: cubic-bezier(0.5,0.5,0,1);
  font-family: 'Helvetica', sans-serif;
}

p {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  text-align: justify;
  position: relative;
  margin-left: -.1em;
  margin-top: -.3em;
  margin-bottom: -.35em;
  overflow: hidden;
  flex: 1;
  width: 100%;
}
p.sans {
  font-family: 'Helvetica', sans-serif;
  margin-left: -.031em;
}
h1 {
  margin: 0;
  font-weight: normal;
  font-size: 52.4px;
  line-height: 48px;
  position: relative;
  margin-left: -.1em;
  margin-bottom: -.2em;
  margin-top: -.1em;
  hyphens: manual;
  font-family: 'Bodoni', sans-serif;
}
h1.display {
  margin: 0;
  font-weight: normal;
  font-size: 260px;
  line-height: 217px;
  position: relative;
  margin-left: -.11em;
  margin-right: -.11em;
  margin-top: -.055em;
  margin-bottom: -.095em;
  letter-spacing: -.03em;
  overflow: hidden;
  font-family: 'Bodoni', sans-serif;
}
h1::after, h2::after, h3::after, h4::after, h5::after, p::after {
  content: '';
  height: 100%;
  width: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  /* border: 1px solid red; */
}


/*****************/
/* Grid (Desktop) /
/*****************/

.c-grid {
  display: grid;
  flex: 1;
  gap: var(--c2);
  /* border: 1px solid blue; */
}
.c-grid.d-col-8 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.c-grid.d-col-6 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.c-grid.d-col-4 {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.c-grid.d-col-3 {
  grid-template-columns: 1fr 1fr 1fr;
}
.c-grid.d-col-2 {
  grid-template-columns: 1fr 1fr;
}
.d-span-8 {
  grid-column: span 8;
}
.d-span-7 {
  grid-column: span 7;
}
.d-span-6 {
  grid-column: span 6;
}
.d-span-5 {
  grid-column: span 5;
}
.d-span-4 {
  grid-column: span 4;
}
.d-span-3 {
  grid-column: span 3;
}
.d-span-2 {
  grid-column: span 2;
}
.d-span-1 {
  grid-column: span 1;
}

.layout {
  display: flex;
  flex: 1;
}
.layout.v {
  flex-direction: column;
}
.layout.h {
  flex-direction: row;
}
.layout.g-1 {
  gap: var(--c1);
}
.layout.g-2 {
  gap: var(--c2);
}
.layout.g-3 {
  gap: var(--c3);
}
.layout.g-5 {
  gap: var(--c5);
}
.layout.g-8 {
  gap: var(--c8);
}
.layout.g-13 {
  gap: var(--c13);
}






.page-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: calc(1040px + var(--c6));
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding: var(--c3);
}
.page-wrap.light {
  color: #fff;
}
.cursor {
  width: var(--c1);
  height: var(--c1);
  background-color: #fff;
  border: 0px solid rgba(255,255,255,0);
  border-radius: 999px;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all .5s ease;
  transition-property: background-color, border-color, opacity, transform;
  z-index: 9999;
  mix-blend-mode: exclusion;
  background-position: center;
  background-size: 150%;
}
.cursor-lag {
  width: var(--c1);
  height: var(--c1);
  background-color: #ff0000;
  border: 0px solid rgba(255,255,255,0);
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all .5s ease;
  transition-property: background-color, border-color, opacity, transform;
  z-index: 9999;
  mix-blend-mode: color;
  display: none; 
}
.cursor-lag-2 {
  width: var(--c1);
  height: var(--c1);
  background-color: #333a42;
  border: 0px solid rgba(255,255,255,0);
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all .5s ease;
  transition-property: background-color, border-color, opacity, transform;
  z-index: 9999;
  mix-blend-mode: luminosity;
  display: none;
}

.cursor--hidden {
  opacity: 0;
}

.cursor--link-hovered {
  transform: translate(-50%, -50%) scale(10) rotate(0deg);
  background-color: rgba(255,255,255,0.1);
  mix-blend-mode: unset;
  /* opacity: 0; */
}

.cursor--clicked {
  transform: translate(-50%, -50%) scale(0.9);
  background-color: #fefefe;
}
.scroll {
  min-height: 100vh;
}

.top-hero {
  transition: opacity .5s ease;
}

.pg-logo {
  height: 80px;
  width: 80px;
}
.pg-logo-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  transform: translateY(-250px);
}
.home-backdrop {
  transition: opacity .5s ease-in-out;
  position: fixed;
  z-index: 0;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: -0;
  background-color: rgba(0,0,0,0.2);
  background-position: center;
  background-size: cover;
}

@keyframes plate-left {
  to {width: 2000px;}
}
@keyframes plate-right {
  to {transform: translateY(0px); opacity: 1;}
}
.hero-plate-container {
  z-index: -5;
  position: absolute;
  left: 34%;
  top: 0;
  width: 100vw;
}
.hero-plate-left {
  z-index: -4;
  position: absolute;
  right: 34%;
  top: 0;
  width: 0px;
  animation: plate-left 2s ease forwards;
  height: calc(100vh - calc(var(--c13) * 2));
  min-height: 546px;
  background-color: #000;
}
.hero-plate-right {
  transform: translateX(calc(var(--c13) * -1));
  opacity: 0;
  background-image: url('https://res.cloudinary.com/preston-gull/image/upload/v1649441118/hourglass-port_br7wlr.jpg');
  height: calc(100vh - calc(var(--c13) * 1.5));
  min-height: 600px;
  background-position: bottom left;
  animation: plate-right 1.7s ease forwards;
  animation-delay: .3s;
  background-size: cover;
}
hr {
  width: 100%;
  border: 0;
  border-bottom: 4px solid #fff;
}
.work-row-header {
  border-top: 6px solid #fff;
  padding-top: var(--c3);
  padding-bottom: var(--c12);
  transition: opacity .5s ease;
}
.work-row {
  overflow: hidden;
  border-top: 1px solid #fff;
  padding-top: var(--c3);
  padding-bottom: var(--c2);
  transition: opacity .5s ease;
}
.unfocused {
  opacity: 0.7;
  mix-blend-mode: hard-light;
}
.work-row.focused {
  opacity: 1;
}
.arrow-right {
  font-size: 20px;
  height: var(--c5);
  width: var(--c5);
  background-image: url('https://res.cloudinary.com/preston-gull/image/upload/v1649515752/arrow-right_iqnidv.png');
  border-radius: 50%;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: lighten;
  background-position: center;
  background-size: 150%;
  opacity: 0;
  transform: translateX(-64px);
  transition: transform .5s ease, opacity .5s ease;
  margin-bottom: -8px;
  position: relative;
}
.arrow-right.hovered {
  opacity: 1;
  transform: translateX(0);
}
@keyframes grow {
  to {
    top: 0;
    opacity: 1;
  }
}
.three-canvas-animator {
  position: relative;
  height: 90vh;
  width: 100vw;
  opacity: 0;
  top: 216px;
  animation: grow 2.5s cubic-bezier(.5,.5,0,1) forwards;
}
.three-canvas-container {
  opacity: 1;
  transform: scale(0);
  z-index: -10;
  position: fixed;
  height: 90vh;
  width: 100vw;
  top: 0;
  left: 0;
  transition: opacity .7s ease;
}
.three-canvas-container.unfocused {
  opacity: 0;
}
@keyframes clip {
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
.work-table {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  animation: clip 1s cubic-bezier(.5,.5,0,1) forwards;
  animation-delay: 1s;
  padding-bottom: var(--c13);
}
.clk {
  /* cursor: pointer; */
}

.frame-link {
  position: fixed;
  z-index: 2;
  word-break: keep-all;
  font-family: 'helvetica', serif;
  color: #fff;
  padding: var(--c5);
  letter-spacing: .5em;
  top: 50%;
  transform: translateY(-50%);
  text-orientation: mixed;
}
.frame-link.left {
  writing-mode: vertical-lr;
  left: 0;
}
.frame-link.right {
  right: 0;
  writing-mode: vertical-rl;
  
}

@media only screen and (max-width: 1090px) {
  /*****************/
  /***** Grid ******/
  /*****************/
  .c-grid.t-col-8 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .c-grid.t-col-6 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .c-grid.t-col-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .c-grid.t-col-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .c-grid.t-col-2 {
    grid-template-columns: 1fr 1fr;
  }
  .c-grid.t-col-1 {
    grid-template-columns: 1fr;
  }
  .t-span-8 {
    grid-column: span 8;
  }
  .t-span-7 {
    grid-column: span 7;
  }
  .t-span-6 {
    grid-column: span 6;
  }
  .t-span-5 {
    grid-column: span 5;
  }
  .t-span-4 {
    grid-column: span 4;
  }
  .t-span-3 {
    grid-column: span 3;
  }
  .t-span-2 {
    grid-column: span 2;
  }
  .t-span-1 {
    grid-column: span 1;
  }
}

@media only screen and (max-width: 765px) {

  /*****************/
  /***** Grid ******/
  /*****************/
  .c-grid.m-col-8 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .c-grid.m-col-6 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .c-grid.m-col-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .c-grid.m-col-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .c-grid.m-col-2 {
    grid-template-columns: 1fr 1fr;
  }
  .c-grid.m-col-1 {
    grid-template-columns: 1fr;
  }
  .m-span-8 {
    grid-column: span 8;
  }
  .m-span-7 {
    grid-column: span 7;
  }
  .m-span-6 {
    grid-column: span 6;
  }
  .m-span-5 {
    grid-column: span 5;
  }
  .m-span-4 {
    grid-column: span 4;
  }
  .m-span-3 {
    grid-column: span 3;
  }
  .m-span-2 {
    grid-column: span 2;
  }
  .m-span-1 {
    grid-column: span 1;
  }
}